streamlit
streamlit_autorefresh
fastapi
uvicorn
chromadb
transformers
sentence-transformers
protobuf
pydantic
pydantic-settings
python-dotenv
httpx
numpy
pandas
scikit-learn
pytest
pytest-asyncio
jupyter
ipykernel
langchain
langchain-core
langchain_groq 
langgraph
langchain-huggingface
tenacity
openevals
streamlit_mermaid
accelerate
torchvision
huggingface-hub
chroma
protobuf<=3.20