streamlit
fastapi
uvicorn
chromadb
transformers
sentence-transformers
protobuf
pydantic
pydantic-settings
python-dotenv
httpx
numpy
pandas
scikit-learn
pytest
pytest-asyncio
jupyter
ipykernel
langchain_groq
openevals
langchain-huggingface
streamlit_mermaid
accelerate
torchvision
huggingface-hub
chroma
protobuf<=3.20