fastapi
uvicorn
chromadb
httpx
langchain-core
langchain_groq 
langgraph-prebuilt
langchain-huggingface
openevals
huggingface-hub
streamlit_mermaid
streamlit
sentence_transformers
streamlit_autorefresh
torchvision
# scikit-learn
# pytest
# pytest-asyncio
